
* {
    box-sizing: border-box;
  }
  
  .menu {
    float: left;
    width: 20%;
    text-align: center;
  }
  
  .menu a {
    background-color: #e5e3dd;
    padding: 8px;
    text-decoration: underline;
    margin-top: 8px;
    display: block;
    width: 100%;
    color: black;
  }
  
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
  }
  
  .right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }
  p.div{
    color: red;
    width: 40%;
    height: 23px;
    background-color: green;
  }
  /* }
  body{
    background-color: rgb(233, 18, 165);
  } */
   h3{
    color: rgb(37, 156, 171);
   } 
  #head1{
    color: blue;
  }
 #head2{
  color: rgb(76, 21, 215);
 }
 .head{
  color: rgb(149, 6, 6);
 }

 /* *{
  color:azure;
}*/
h1 a p{
  color:aqua;
}

div p {
  color: darkcyan;
}
#d2 > p{
  color: black;
}
#d3 > p{
  color: darkslategray;
}
